<div class="row">
    <div class="col-lg-12">
        <form data-ng-submit="onClickSubmit(signInForm)" name="signInForm" role="form" novalidate>
            <div class="form-group">
                <label for="username">{{'SIGN_IN_FORM_USERNAME' | translate}}</label>
                <input data-ng-model="model.username" data-ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" id="username" name="username" type="text" minlength="3" maxlength="128" required class="form-control" />
                <div data-ng-if="signInForm.$submitted || !signInForm.username.$pristine" data-ng-messages="signInForm.username.$error">
                    <div data-ng-message="required">{{'SIGN_IN_FORM_USERNAME_IS_REQUIRED' | translate}}</div>
                    <div data-ng-if="!signInForm.username.$pristine" data-ng-message="minlength">{{'SIGN_IN_FORM_USERNAME_MIN' | translate:'{ min: 3 }'}}</div>
                    <div data-ng-if="!signInForm.username.$pristine" data-ng-message="maxlength">{{'SIGN_IN_FORM_USERNAME_MAX' | translate:'{ max: 128 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">{{'SIGN_IN_FORM_PASSWORD' | translate}}</label>
                <input data-ng-model="model.password" data-ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" id="password" name="password" type="password" minlength="6" maxlength="32" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z*&@%+/_'!#$^?:.(\)\[\]{}~\-]{8,}$" required class="form-control" />
                <div data-ng-if="signInForm.$submitted || !signInForm.password.$pristine" data-ng-messages="signInForm.password.$error">
                    <div data-ng-message="required">{{'SIGN_IN_FORM_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div data-ng-if="!signInForm.password.$pristine" data-ng-message="minlength">{{'SIGN_IN_FORM_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div data-ng-if="!signInForm.password.$pristine" data-ng-message="maxlength">{{'SIGN_IN_FORM_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
                    <div data-ng-if="!signInForm.password.$pristine" data-ng-message="pattern">{{'SIGN_IN_FORM_PASSWORD_PATTERN' | translate}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'SIGN_IN_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" data-ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>