<div class="row">
    <div class="col-lg-12">
        <form name="updateStudentForm" role="form" novalidate ng-submit="submit(updateStudentForm)">
            <div class="form-group">
                <label for="ime">{{'UPDATE_STUDENT_FORM_IME' | translate}}</label>
                <input type="text" id="ime" name="ime" class="form-control" ng-model="model.ime" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="updateStudentForm.ime.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.ime.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_IME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!updateStudentForm.ime.$pristine">{{'UPDATE_STUDENT_FORM_IME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="prezime">{{'UPDATE_STUDENT_FORM_PREZIME' | translate}}</label>
                <input type="text" id="prezime" name="prezime" class="form-control" ng-model="model.prezime" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="updateStudentForm.prezime.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.prezime.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_PREZIME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!updateStudentForm.prezime.$pristine">{{'UPDATE_STUDENT_FORM_PREZIME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="indeks">{{'UPDATE_STUDENT_FORM_INDEKS' | translate}}</label>
                <input type="text" id="indeks" name="indeks" class="form-control" ng-model="model.indeks" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="updateStudentForm.indeks.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.indeks.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_INDEKS_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!updateStudentForm.indeks.$pristine">{{'UPDATE_STUDENT_FORM_INDEKS_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="trenutnoStanjeRacuna">{{'UPDATE_STUDENT_FORM_TRENUTNO_STANJE_RACUNA' | translate}}</label>
                <input type="number" id="trenutnoStanjeRacuna" name="trenutnoStanjeRacuna" class="form-control" ng-model="model.trenutnoStanjeRacuna" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" required>
                <div ng-messages="updateStudentForm.trenutnoStanjeRacuna.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.trenutnoStanjeRacuna.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_TRENUTNO_STANJE_RACUNA_IS_REQUIRED' | translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="budzet">{{'UPDATE_STUDENT_FORM_BUDZET' | translate}}</label>
                <input type="checkbox" id="budzet" name="budzet" class="form-control" ng-model="model.budzet" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }">
            </div>
            <div class="form-group">
                <label for="tekuciSemestar">{{'UPDATE_STUDENT_FORM_TEKUCI_SEMESTAR' | translate}}</label>
                <input type="number" id="tekuciSemestar" name="tekuciSemestar" class="form-control" ng-model="model.tekuciSemestar" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" required>
                <div ng-messages="updateStudentForm.tekuciSemestar.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.tekuciSemestar.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_TEKUCI_SEMESTAR_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!updateStudentForm.tekuciSemestar.$pristine">{{'UPDATE_STUDENT_FORM_TEKUCI_SEMESTAR_MIN' | translate:'{ min: 1 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="osvojeniBodovi">{{'UPDATE_STUDENT_FORM_OSVOJENI_BODOVI' | translate}}</label>
                <input type="number" id="osvojeniBodovi" name="osvojeniBodovi" class="form-control" ng-model="model.osvojeniBodovi" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" required>
                <div ng-messages="updateStudentForm.osvojeniBodovi.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.osvojeniBodovi.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_OSVOJENI_BODOVI_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!updateStudentForm.osvojeniBodovi.$pristine">{{'UPDATE_STUDENT_FORM_OSVOJENI_BODOVI_MIN' | translate:'{ min: 0 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="role">{{'UPDATE_STUDENT_FORM_ROLE' | translate}}</label>
                <user-role-drop-down html-id="role" html-name="role" selected-id="model.role" html-required="true"> </user-role-drop-down>
                <div ng-messages="updateStudentForm.role.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.role.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_ROLE_IS_REQUIRED' | translate}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">{{'UPDATE_STUDENT_FORM_USERNAME' | translate}}</label>
                <input type="text" id="username" name="username" class="form-control" ng-model="model.username" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="3" maxlength="128" required />
                <div ng-messages="updateStudentForm.username.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.username.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_USERNAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!updateStudentForm.username.$pristine">{{'UPDATE_STUDENT_FORM_USERNAME_MIN' | translate:'{ min: 3 }'}}</div>
                    <div ng-message="maxlength" ng-if="!updateStudentForm.username.$pristine">{{'UPDATE_STUDENT_FORM_USERNAME_MAX' | translate:'{ max: 128 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordHash">{{'UPDATE_STUDENT_FORM_PASSWORD_HASH' | translate}}</label>
                <input type="password" id="passwordHash" name="passwordHash" class="form-control" ng-model="model.passwordHash" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="128" required />
                <div ng-messages="updateStudentForm.passwordHash.$error" ng-if="updateStudentForm.$submitted || !updateStudentForm.passwordHash.$pristine">
                    <div ng-message="required">{{'UPDATE_STUDENT_FORM_PASSWORD_HASH_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!updateStudentForm.passwordHash.$pristine">{{'UPDATE_STUDENT_FORM_PASSWORD_HASH_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!updateStudentForm.passwordHash.$pristine">{{'UPDATE_STUDENT_FORM_PASSWORD_HASH_MAX' | translate:'{ max: 128 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'UPDATE_STUDENT_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>