<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{'POLOZENI_ID' | translate}}</th>
                        <th>{{'POLOZENI_STUDENT_ID' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_ID' | translate}}</th>
                        <th>{{'POLOZENI_OCENA' | translate}}</th>
                        <th>{{'POLOZENI_DATUM_POLOZENO' | translate}}</th>
                        <th>{{'POLOZENI_SEMESTAR_PRVOG_SLUSANJA' | translate}}</th>
                        <th>{{'POLOZENI_SEMESTAR_POSLEDNJE_SLUSANJA' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_NAZIV' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_ESPB' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_OBAVEZNI' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_PREDLOZENI_SEMESTAR' | translate}}</th>
                        <th>{{'POLOZENI_PREDMET_IME_PROFESORA' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model">
                        <td>{{item.id}}</td>
                        <td>{{item.studentId}}</td>
                        <td>{{item.predmetId}}</td>
                        <td>{{item.ocena}}</td>
                        <td>{{item.datumPolozeno | date:'yyyy-MM-dd'}}</td>
                        <td>{{item.semestarPrvogSlusanja}}</td>
                        <td>{{item.semestarPoslednjeSlusanja}}</td>
                        <td>{{item.predmetNaziv}}</td>
                        <td>{{item.predmetEspb}}</td>
                        <td>{{item.predmetObavezni}}</td>
                        <td>{{item.predmetPredlozeniSemestar}}</td>
                        <td>{{item.predmetImeProfesora}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>